<lib-header title="CETEPS" (settings)="openSettings()" />
<div class="container">
  <div class="container__actions">
      <input placeholder="Pesquisar" class="search" type="search" (input)="search()" [(ngModel)]="searchTerm" />
        <button (click)="openCreateSnack()" class="add-snack" matMiniFab>
      <span class="material-symbols-outlined icon">add</span>
    </button>
  </div>

  <div class="container__snacks">
    @for (snack of snacks; track $index) {
      <div class="container__snacks__snack">
        <span class="name">{{ snack.name }}</span>
        <div class="container__snacks__snack__actions">
          <span class="material-symbols-outlined edit" (click)="openEditSnack(snack)">edit</span>
          <span class="material-symbols-outlined delete" (click)="presentDeleteConfirm(snack)">delete</span>
        </div>
      </div>
    }
  </div>
</div>
