:host {
    overflow: hidden;
    background: var(--primary-color);
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container {
    overflow: auto;
    padding: 1rem;
    background: var(--bg-color);
    border-radius: var(--radius-10) var(--radius-10) 0 0;
    color: var(--text-color);

    lib-avatar,
    lib-theme,
    lib-schedule,
    lib-credits,
    lib-sigla {
        margin-bottom: 1rem;
    }
}