<lib-header title="CETEPS" (settings)="openSettings()" />

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="side-bar-container" mode="side">
    @for (month of calendar; track $index) {
      <div class="month" [ngClass]="{'selected': month.selected}" (click)="selectMonth(month)">
        <span class="name">{{ month.monthName }}</span>
      </div>
    }
  </mat-drawer>
  
  <mat-drawer-content>
    @if (weekSelected.length === 0) {
      <div class="container-header-month">
        <span (click)="drawer.toggle()" class="material-symbols-outlined dock">dock_to_right</span>

        <mat-form-field appearance="outline">
          <mat-label>Semana ativa</mat-label>
          <mat-select [disabled]="loadingWeekActive" (selectionChange)="defineWeek($event)" [value]="activeWeek">
            @for (week of selectableWeeks; track week) {
              <mat-option [value]="week.id">{{ week.date | date }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="month-container">
        @for (week of weeksSelected; track $index) {
          <span class="week" (click)="selectWeek(week, $index)">{{ $index + 1 }}° Semana</span>
          <div class="line"></div>
        }
      </div>
    } @else {
      <div class="container-week">
        <div class="container-header-week">
          <span class="material-symbols-outlined back" (click)="backMonth()">arrow_back_ios</span>

          <span class="num-week">{{ numSelectedWeek }}° Semana ({{ initialWeekDate | date }} - {{ endWeekDate | date }})</span>
        </div>
    
        <div class="container-week-cards">
          @for (menu of menus; track $index) {
            <app-card [lunches]="lunches()" [menu]="menu" [snacks]="snacks()" (changedMenu)="changeMenu($event)"
            (addSnack)="addMealToMenu($event, menu.day, 'snack')" (addLunch)="addMealToMenu($event, menu.day, 'lunch')"
            (removedSnack)="removeMealToMenu($event, menu.day, 'snack')"
            (removedLunch)="removeMealToMenu($event, menu.day, 'lunch')" (changedMenu)="changeMenu($event)" />
          } @empty {
            <div class="container-empty">
              <button matButton="tonal" (click)="createWeek(idDateWeekSeleted)">Carregar semana</button>
            </div>
          }
        </div>
      </div>
    }
  </mat-drawer-content>
</mat-drawer-container>