<lib-header title="Maraskin" (settings)="openSettings()" />

<mat-drawer-container class="container">
  <mat-drawer class="side-bar-container" mode="side" opened>
    @for (month of calendar; track $index) {
      <div class="month" [ngClass]="{'selected': month.selected}" (click)="selectMonth(month)">
        <span class="name">{{ month.monthName }}</span>
      </div>
    }
  </mat-drawer>
  
  <mat-drawer-content>
    @if (weekSelected.length === 0) {
      <div class="month-container">
        @for (week of weeksSelected; track $index) {
          <span class="week" (click)="selectWeek(week, $index)">{{ $index + 1 }}° Semana</span>
          <div class="line"></div>
        }
      </div>
    } @else {
      <div class="container-week">
        <div class="container-header-week">
          <span class="material-symbols-outlined back" (click)="backMonth()">arrow_back_ios</span>

          <span class="num-week">{{ numSelectedWeek }}° Semana ({{ initialWeekDate | date }} - {{ endWeekDate | date }})</span>
        </div>
    
        <div class="container-week-cards">
          @for (menu of menus; track $index) {
            <app-card [lunches]="lunches()" [menu]="menu" [snacks]="snacks()" (changedMenu)="changeMenu($event)"
            (addSnack)="addMealToMenu($event, menu.day, 'snack')" (addLunch)="addMealToMenu($event, menu.day, 'lunch')"
            (removedSnack)="removeMealToMenu($event, menu.day, 'snack')"
            (removedLunch)="removeMealToMenu($event, menu.day, 'lunch')" (changedMenu)="changeMenu($event)" />
          } @empty {
            <div class="container-empty">
              <button matButton="tonal" (click)="createWeek(idDateWeekSeleted)">Carregar semana</button>
            </div>
          }
        </div>
      </div>
    }
  </mat-drawer-content>
</mat-drawer-container>