:host {
    display: flex;
    width: 18rem;
    justify-content: space-evenly;
    gap: .2rem;
    border: .1rem solid var(--border-color-10);
    padding: .2rem;
    border-radius: var(--radius-05);
}

span {
    border-radius: var(--radius-05);
    padding: .2rem 0;
    color: var(--text-color);
    transition: background-color .2s;
    width: 4rem;
    text-align: center;
}

.selected {
    background-color: var(--bg-color-700);
}