.container {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .close,
        .confirm {
            font-size: 2rem;
        }

        .title {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .toggle-flex {
        display: flex;
        align-items: center;
        padding: 4px 0;
    }

    .toggle-flex .end {
        margin-left: auto;
    }
}