:host {
  overflow: hidden;
  background: var(--primary-color);
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container {
  overflow: auto;
  padding: 1rem;
  height: 100%;
  background: var(--bg-color);
  border-radius: var(--radius-10) var(--radius-10) 0 0;

  .buttons {
    width: 30%;
    height: 100px;
    margin-bottom: 1rem;
    border-radius: 100rem;
    background-color: transparent;
    border: none;

    img {
      background-color: var(--primary-color);
      width: 100px;
      height: 100px;
      transition: 300ms;
    }

    img:hover {
      transition: 300ms;
      background-color: var(--pg-color-700);
    }
  }

  .input {
    display: none;
  }

  .random {
    margin-bottom: 1rem;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 0 1rem 0;
    transition: 0.2s;

    img {
      width: 30%;
      height: auto;
      margin-bottom: 1rem;
      border-radius: 100rem;
    }

    .select {
      border: 0.2rem solid var(--primary-color);
      padding: 0.4rem;
    }
  }

  .icon-credit {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
  }
}
