h2 {
    text-align: center;
    font-weight: 900;
}

.container {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding-bottom: 3rem;

    h3 {
        margin: 0;
        font-weight: 700;
        color: var(--text-color);
        margin: 1rem;
    }

    .snack,
    .lunch {
        background-color: var(--bg-color-300);
        color: var(--text-color);
        border: .1rem solid var(--border-color-10);
        box-shadow: .1rem .1rem 1rem .05rem var(--shadow-color);
        width: 16rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        border-radius: var(--radius-05);
        align-items: center;
        gap: .1rem;
        padding: .2rem;

        .name {
            font-size: 1.15rem;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            margin: .4rem;
        }

        span {
            font-weight: 500;
            font-size: 1.1rem;
        }

        .allergies {
            margin: .6rem 0;
            display: flex;
            justify-content: center;
            width: 100%;
            gap: .3rem;

            .allergy {
                background: var(--pg-color-500);
                border: .1rem solid var(--border-color-10);
                box-shadow: .1rem .1rem 1rem .05rem var(--shadow-color);
                padding: .2rem .4rem;
                border-radius: var(--radius-05);
                color: #ffffff;
                font-weight: 500;
                font-size: .9rem;
                text-align: center;
            }
        }
    }
}