.navigate {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--bg-color-300);
    padding: .4rem 0;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .icon, .name {
            font-weight: 500;
            color: var(--gray);
        }

        .icon {
            font-size: 1.4rem;
        }
        
        .name {
            font-size: .9rem;
        }
    }
    
    .selected {
        .icon, .name {
            color: var(--primary-color);
        }
    }
}