<lib-header title="SIRNE" (settings)="openSettings()" />

<div class="container">
  @if (loading) {
    <div class="container-load">
      <mat-spinner />
      <span>Carregando...</span>
    </div>
  } @else {
    <app-weekday-selector (change)="updateOptions($event)" />

    <div class="container-menu">
      @for (menu of filtredMenus; track $index) {
        <app-card [menu]="menu" />
      }

      <span class="obs">OBS: As refeições podem sofre alterações durante a semana.</span>
    </div>
  }
</div>
