:root {
    --text-color: #000000;

    --gray: #74777F;

    --border-color: #000000;
    --border-color-10: #00000010;

    --navigation-color: #EAEAEC;
    --navigation-text-color: #000000;

    --bg-color: #FAFAFB;
    --bg-color-0: #FFFFFF;
    --bg-color-100: #F5F5F7;
    --bg-color-300: #EAEAEC;
    --bg-color-500: #DADADF;
    --bg-color-700: #BFBFC6;
    --bg-color-900: #A3A3AD;

    --shadow-color: #00000020;

    --radius-05: 0.5rem;
    --radius-08: 0.8rem;
    --radius-10: 1rem;
    --radius-20: 2rem;
}

:root.app-dark {
    --text-color: #ffffff;

    --gray: #bbbbbb;

    --border-color: #ffffff;
    --border-color-10: #ffffff10;

    --navigation-color: #16161A;
    --navigation-text-color: #ffffff;

    --bg-color: #222226;
    --bg-color-0: #000000;
    --bg-color-100: #16161A;
    --bg-color-300: #1F1F24;
    --bg-color-500: #333337;
    --bg-color-700: #45454C;
    --bg-color-900: #5C5C63;
}