h1, ion-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
}

.header-title {
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;
}

.nutritional-modal {
    --width: 80%;
    --min-width: 250px;
    --max-width: 400px;
    --height: 32rem;
    --border-radius: var(--radius-05);
    --border: .1rem solid var(--gray);
}